fastapi
uvicorn
python-dotenv
redis
httpx
fastapi-cache2
pydantic-settings
email_validator
dnspython
jinja2
python-multipart
orjson
ujson
pyyaml
websockets
markdown-it-py
pygments
itsdangerous
click
h11
anyio
typing-extensions
starlette
sniffio
exceptiongroup
idna
httpcore
certifi
charset-normalizer
urllib3
requests
gunicorn